<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ubuntu Analysis</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- Create a navbar -->
    <nav class="navbar">
      <img src="../static/image/icon.png" class="icon" />
      <ul>
        <li>
          <a href="/allele&genotype_frequencies-clinical_relevance"
            >Allele & Genotype Frequencies, Clinical Relevance</a
          >
        </li>
        <li><a href="/admixture_analysis">Admixture Analysis</a></li>
        <li><a href="/clustering_analysis">Clustering Analysis</a></li>
        <li class="bar"><a href="/">Home</a></li>
      </ul>
    </nav>

    <main>
      <h1 class="welcome">Welcome to Ubuntu Analysis</h1>

      <!-- Create three buttons on the Home page -->
      <div class="button-container">
        <a href="/clustering_analysis" , class="clustering_analysis-button">
          Clustering Analysis</a
        >
        <a
          href="/allele&genotype_frequencies-clinical_relevance"
          class="allele_genotype_frequencies-clinical_relevance-button"
        >
          Allele & Genotype Frequencies<br />Clinical Relevance
        </a>
        <a href="/admixture_analysis" class="admixture_analysis-button">
          Admixture Analysis
        </a>
      </div>
    </main>
  </body>
</html>
