<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allele & Genotype Frequencies, Clinical Relevance</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <img src="/static/image/icon.png" class="icon" />
      <ul>
        <li class="bar">
          <a href="/allele&genotype_frequencies-clinical_relevance"
            >Allele & Genotype Frequencies, Clinical Relevance</a
          >
        </li>
        <li><a href="/admixture_analysis">Admixture Analysis</a></li>
        <li><a href="/clustering_analysis">Clustering Analysis</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>

    <main>
      <form method="POST" class="search-container">
        {{ form.csrf_token }}

        <p class="search-bar">Select population(s) for analysis</p>

        <p class="pop">AFR:</p>

        <div class="pop">
          {{ form.ACB() }} {{ form.ACB.label }} 
          {{ form.ASW() }} {{ form.ASW.label }} 
          {{ form.ESN() }} {{ form.ESN.label }} 
          {{ form.GWD() }} {{ form.GWD.label }} 
          {{ form.LWK() }} {{ form.LWK.label }} 
          {{ form.MSL() }} {{ form.MSL.label }} 
          {{ form.YRI() }} {{ form.YRI.label }} 
        </div>

        <p class="pop">AMR:</p>

        <div class="pop">
          {{ form.CLM() }} {{ form.CLM.label }} 
          {{ form.MXL() }} {{ form.MXL.label }} 
          {{ form.PEL() }} {{ form.PEL.label }} 
          {{ form.PUR() }} {{ form.PUR.label }} 
        </div>

        <p class="pop">EAS:</p>

        <div class="pop">
          {{ form.CDX() }} {{ form.CDX.label }} 
          {{ form.CHB() }} {{ form.CHB.label }} 
          {{ form.CHS() }} {{ form.CHS.label }} 
          {{ form.JPT() }} {{ form.JPT.label }} 
          {{ form.KHV() }} {{ form.KHV.label }} 
        </div>

        <p class="pop">EUR:</p>

        <div class="pop">
          {{ form.CEU() }} {{ form.CEU.label }} 
          {{ form.FIN() }} {{ form.FIN.label }} 
          {{ form.GBR() }} {{ form.GBR.label }} 
          {{ form.IBS() }} {{ form.IBS.label }} 
          {{ form.TSI() }} {{ form.TSI.label }} 
        </div>

        <p class="pop">SAS:</p>

        <div class="pop">
          {{ form.BEB() }} {{ form.BEB.label }} 
          {{ form.GIH() }} {{ form.GIH.label }} 
          {{ form.ITU() }} {{ form.ITU.label }} 
          {{ form.PJL() }} {{ form.PJL.label }} 
          {{ form.STU() }} {{ form.STU.label }} 
        </div>

        <p class="pop">SIB:</p>
        
        <div class="pop">
          {{ form.SIB() }} {{ form.SIB.label }} 
        </div>

        <!-- ID Search -->
        <div class="search-bar">
          {{ form.id.label }} {{ form.id() }}
        </div>
        
        <div class="submit">
          {{ form.search_id() }}
        </div>

        <!-- Region Search -->
        <div class="search-bar">
          {{ form.chr.label }} {{ form.chr()}}
          {{ form.start.label }} {{ form.start() }}
          {{ form.end.label }} {{form.end() }}
        </div>
  
        <div class="submit">
          {{ form.search_region() }}
        </div>

        <!-- Gene Name Search -->
        <div class="search-bar">
          {{ form.gene_name.label }} {{ form.gene_name() }}
        </div>
        <div class="submit">
          {{ form.search_gene() }}
        </div>
        
      </form>
    </main>
  </body>
</html>
